break-cases = fit
break-infix = fit-or-vertical
break-string-literals = never
break-struct = natural
doc-comments = before
escape-chars = preserve
escape-strings = preserve
extension-sugar = preserve
field-space = loose
if-then-else = keyword-first
infix-precedence = indent
let-and = sparse
let-open = auto
margin = 80
module-item-spacing = sparse
parens-tuple = always
sequence-style = separator
type-decl = sparse
